@font-face {
  font-family: "notosans";
  src: url("../asset/font/notosans-regular-webfont.woff2") format("woff2"),
    url("../asset/font/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: "notosans", var(--system-ui);
}
