@font-face {
  font-family: "notosans";
  src: url("../asset/font/notosans-regular-webfont.woff2") format("woff2"),
    url("../asset/font/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);
  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);
  --Light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  --font-size: 16px;
  --bold-light: 400;
  --bold-normal: 500;
  --bold: 700;
}

body {
  font-family: "notosans", var(--system-ui);
  font-size: var(--font-size);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: var(--Dark-Gradient);
}

.header {
  background-color: var(--Neutral-600);
  margin-top: 35px;
  color: white;
}

.header,
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}

.mainHeader {
  color: white;
  margin-top: 65px;
  padding: 10px;
}

.mainHeaderText > p {
  font-size: 30px;
  font-weight: bold;
}

.header,
.themeContainer > button {
  border-radius: 15px;
}

.themeContainer > button {
  background-color: var(--Neutral-700);
  border: none;
  padding: 10px 15px;
}

.mainFilterContainer {
  display: flex;
  gap: 15px;
}

.mainFilterContainer label {
  width: 100px;
  height: 50px;
}

.mainFilterContainer span {
  position: relative;
  bottom: 37.5px;
  left: 40px;
}

.activeContainer > span {
  left: 27.5px;
}

.inactiveContainer > span {
  left: 20px;
}

input[type="radio"] {
  appearance: none;
  background-color: var(--Neutral-700);
  width: 85px;
  height: 35px;
  border-radius: 25px;
  padding: 20px 35px;
}

input[type="radio"]:checked {
  background-color: var(--Red-500);
}

.extensionContainer,
span {
  color: var(--Neutral-200);
}

.infoHeader {
  color: var(--Neutral-0);
}

.mainContent {
  display: flex;
  justify-content: center;
}

.extensionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  width: 80%;
}

.extension {
  background-color: var(--Neutral-800);
  border-radius: 25px;
  border: 1px solid var(--Neutral-600);
}
